{% comment %}
  Advertising box at the top of a workshop website home page.
{% endcomment %}
<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <p>
        <img src="assets/img/vra.PNG"
             alt="VRA2019 Workshop Spotlight: Practical Coding for Visual Resources"
             width="75%" />
      </p>
      <h2>{{page.title}}</h2>
     </div>
     <div class="col-md-6">
      <p>
          <strong>Instructors:</strong>
          {% if page.instructor %}
          {{page.instructor | join: ', ' %}}
          {% else %}
          to be announced.
          {% endif %}
          </p>
          {% if page.helper %}
          <p>
          <strong>Helpers:</strong>
          {{page.helper | join: ', ' %}}
          </p>
          {% endif %}      </p>
      <p>{{page.venue}}</p>
      <p>{{page.humandate}}</p>
      <p>{% if page.humantime %}{{page.humantime}}{% endif %}</p>
    </div>
  </div>
</div>
