<p>It’s not true that everyone needs to learn to code, but it is true that there are many concrete ways that basic 
  programming skills can save you time and hassle as a visual resources information specialist. 
  This workshop will introduce three useful 
  computing tools &#8212; the Unix shell, git, and Python &#8212; with an eye toward applying these tools in 
  day-to-day visual resources work.
</p>
<p>Participants will come away with introductory hands-on experience with the Unix shell, git,
  and Python; ideas about how to apply these tools in their work for tasks such as data cleanup and renaming files 
  in bulk; and knowledge of resources and strategies for continued learning about coding in a visual resources context.
</p>
<p>This workshop is offered as part of <a href="http://vra2019.vraweb.org/" target="_blank">
  Visual Resources Association Annual Conference, Los Angeles, March 26-29, 2019</a>
</p>
